{% set userLogged = app.security.getToken().getUser() %}

{% extends 'FreedomObjectiveBundle::layout_profile.html.twig' %}

{% block title %}Freedom - Follow{% endblock %}

{% block content_header '' %}

{% block content %}

<div ng-controller="ObjectiveFollowedCtrl" ng-init="page = 'followedObjective'">
	<div ng-repeat="objective in objectives">
 		{% include 'FreedomObjectiveBundle:ObjectiveStructure:objective_structure_severeal.html.twig' %}
	</div>
	<div ng-if="objectives.length == 0">
		<div ng-if="{{ userLogged.getId }} == {{ idProfile }}">
			<h4>No followed objective. <a href="{{ path('freedom_explore_search') }}">Follow a new one?</a></h4>
		</div>
		<div ng-if="{{ userLogged.getId }} != {{ idProfile }}">
			<h4>{{userProfile.fullname}} doesn't follow any objective</h4>
		</div>
	</div>
</div>


{% endblock %}