<h4>
    <span ng-show="objective.done" class="glyphicon glyphicon-check"></span>
    <span ng-hide="objective.done" class="glyphicon glyphicon-retweet"></span>
	<a href="#" ng-click="url('freedom_objective_dashboard_details', {id: objective.id})">{[{objective.name | capitalize}]}</a> - by <a href="#" ng-click="url('freedom_objective_profile_profile', {idProfile: objective.user.id})">{[{ objective.user.fullname }]}</a><span ng-show="objective.group"> - Belong to the group <a href="#" ng-click="url('freedom_group_details', {id: objective.group.id})">{[{objective.group.name | capitalize}]}</a></span>
    <span ng-if="{{ userLogged.getId }} == objective.user.id">
      	<span delete-objective objectives="objectives" idx="$index" class="clickable glyphicon glyphicon-remove"></span>
        <span done-objective objectives="objectives" idx="$index" page="page" class="clickable glyphicon glyphicon-refresh"></span>
        <span ng-click="url('freedom_objective_dashboard_edit', {id: objective.id})" class="clickable glyphicon glyphicon-pencil"></span>
    </span>
</h4>
<hr>
<span>{[{objective.userlikeobjectives.length}]}
    <allow-like-objective user-logged='{{ userLogged.getId }}' objective='objective'></allow-like-objective>
</span>
<span>{[{objective.userfollowobjectives.length}]}
    <allow-follow-objective user-logged='{{ userLogged.getId }}' objective='objective' page='page'></allow-follow-objective>
</span>
<span><span class="glyphicon glyphicon-tag"></span> {[{objective.category | capitalize}]} </span>
<span><span class="glyphicon glyphicon-time"></span> {[{ objective.number_of_days }]} </span>
<h3>Steps  - ( {[{ objective.steps.length }]} ) </h3>
<ul ng-repeat="step in objective.steps">
	<li>
        <span ng-show="step.done" class="glyphicon glyphicon-check"></span>
        <span ng-hide="step.done" class="glyphicon glyphicon-retweet"></span>
		{[{ step.name | capitalize }]} - {[{ step.userlikestepobjectives.length }]} <allow-like-step user-logged='{{ userLogged.getId }}' objective='objective' idx='$index'></allow-like-step>
        <span ng-if="{{ userLogged.getId }} == objective.user.id">
            <span delete-step objectives="objectives" idx="$index" idx-obj="$parent.$parent.$index" class="clickable glyphicon glyphicon-remove"></span>
            <span done-step objectives="objectives" idx="$index" idx-obj="$parent.$parent.$index" class="clickable glyphicon glyphicon-refresh"></span>
        </span>
	</li>
</ul>
<div ng-show="objective.useradvice">
    <h3>Creator's advice</h3> 
    <span ng-bind-html="objective.useradvice"></span>
</div>
<h3>Advices  - ( {[{ objective.advices.length }]} ) </h3>
<div ng-hide="objective.advices.length">No advices yet. Be the first!</div>
<ul ng-repeat="advice in objective.advices">
	<li>
		<span ng-bind-html="advice.name"></span> - {[{ advice.userlikeadvices.length }]} 
		<allow-like-advice user-logged='{{ userLogged.getId }}' objective='objective' idx='$index'></allow-like-advice> - By 
		<a href="#" ng-click="url('freedom_objective_profile_profile', {idProfile: advice.user.id})">{[{ advice.user.fullname }]}</a> 
		<span delete-advice objectives="objectives" idx="$index" idx-obj="$parent.$parent.$index" ng-if="{{ userLogged.getId }} == advice.user.id || {{ userLogged.getId }} == objective.user.id" class="clickable glyphicon glyphicon-remove"></span>
	</li>
</ul>
<submit-advice objective="objective"></submit-advice>